<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="fileLocation" value="C:\IncomingFiles\"/>
    <add key="DOMAIN" value="domain"/>
    <add key="REMOTE_COMPUTER_NAME" value="127.0.0.1"/>
    <add key="USER_NAME" value="donchocho"/>
    <add key="PASSWORD" value="9876rd£Ef"/>
    <add key="REMOTE_DIRECTORY" value="C:\Remote"/>
    <add key="fileLocations" value="C:\Target1,C:\Target2,"/>
  </appSettings>
</configuration>
